@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    @{
        string errorCheck = "Mobile device error";
        if (string.IsNullOrWhiteSpace(ViewBag.errorMessage))
        {
            <h2 class="text-danger">An error occurred while processing your request.</h2>
        }
        else if (string.Equals(ViewBag.errorMessage, errorCheck))
        {
            Layout = null;
            <h2 class="text-danger">This site is not currently available on mobile devices.</h2>
        }
        else
        {
            <h2 class="text-danger">@ViewBag.errorMessage</h2>
        }
    }
</div>